img{
    height: 40;
    width: 40;
}

#navItem  {
    color: black;
    transition: .2s;
}

#navItem:hover {
    color:rgb(196, 148, 3)
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor figure{
    position: relative;
    width: 100%;
    margin: 20px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px  rgba(0,0,0,0.50);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(123, 49, 0, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
    width: 100%;
    height: 100%;
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.cards{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
.cards:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
    -webkit-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#galeria img{
    width: 100%;
    height: 250px;
    filter:grayscale(100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#galeria img:hover{
    border: 5px solid #f7f7f7;
    filter:grayscale(0%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.boton {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #f88706ee;
    border-radius: 4px;
    background-color:#eb720fec;
}

#div1{
    text-align: center;
    justify-content: center;
    display: flex;
}

#div2{
    margin: 0 auto;

}

#navMenu{
    display: flex;
    justify-content: center;
}

#navMenu li{
    display: inline;
    margin-left: 30px;
    
}

.cardsMenu{
    display: flex;
    justify-content: center;
}

.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;
}
.cuerpo{
  padding: 10px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center; 
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
} 


